* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 90px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.navegacao {
    display: flex;
    height: 60px;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

.menu li {
    width: 190px;
    margin: 0 20px;
    text-align: center;
    font-size: 17px;
}
.menu .logo {
    width: 200px;
}
.menu .logo a {
    padding: 0px 0px;
}
.menu .logo a:hover {
    background-color: rgba(0, 0, 0, 0);
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.menu a:hover {
    border-radius: 5px;
}
.menu a:active {
    color: red;
}
main {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: rgb(223, 223, 223);
}
.content {
    margin: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 50, 50);
    width: 75%;
    height: 100%;
    border-radius: 10px;
}
.content li{
    margin-left: 20px;
    padding: 2px;
}
.titulo {
    display: flex;
    margin: 10px;
    justify-content: center;
    width: calc(100% - 100px);

}
.cont-lado {
    margin: 30px 20px 10px 20px;
    width: 43%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.conteudo {
    margin: 30px 20px 10px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: calc(100% - 100px);
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.margem {
    margin-bottom: 10px;
    margin-top: 10px;
}
input {
    width: 100%;
    margin: 3px;
}
.check {
    display: flex;
    width: 15%;
    margin: 5px;
    justify-self: left;
}
.check .nao-clicavel {
    pointer-events: none;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
select {
    width: 93%;
}
textarea {
    width: 93%;
    height: 80px;
}
.botao {
    margin-top: 20px;
    width: 100px;
}
.botao button {
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    border: none;
    box-shadow: 10px;
}
.botao button:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}
/*Fontes*/
.noto-serif-1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
  }
.oswald-1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
