* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 90px;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.navegacao {
    background-color: aqua;
}
.navegacao .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.navegacao .menu li{
    background-color: purple;
    width: 130px;
    margin: 0 20px;
    text-align: center;
}
.navegacao .menu .logo {
    width: 200px;
    background-color: red;
}
.navegacao .menu a{
    text-decoration: none;
    color: darkcyan;
    padding: 8px 12px;
}
.navegacao .menu a:hover{
    border-radius: 5px;
    background-color: darkgrey;
}
main {
    display: flex;
    width: 100%;
    justify-content: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
    width: 75%;
    height: 100%;
}
.cont-lado {
    margin: 30px;
    width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: red;
}
.conteudo {
    margin: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: purple;
    width: calc(100% - 50px);
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}